/* Reset do CSS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80');
    background-size: auto 100vh;
    font-family: Arial;
    font-size: 10px;
    height: 100vh;
  }
/* Breakpoints - Caso a tela tenha ao menos 400px, os estilos abaixo serão carregados */
  @media (min-width: 400px) {
    body {
        font-size: 16px;
    }
  }
/* Breakpoints - Caso a tela tenha ao menos 600px, os estilos abaixo serão carregados */
  @media (min-width: 600px) {
    body {
        font-size: 20px;
    }
  }

  header {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .menu {
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }

  .menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 50ms, color 1s;
  }

  .menu a:active {
    background-color: red;
    color: green;
  }

  .menu a:hover {
    background-color: teal;
    color: whitesmoke;
  }

  .menu ul {
    display: flex;
    font-family: 'Orbitron', sans-serif;
    justify-content: space-around;
  }

  .menu li {
    list-style: none;
  }

 /* .menu a {
     background-color: red;
  }*/
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .titulo {
    transform: scale(.2) translateY(50vh);
    opacity: 0;

    animation: linear .5s animaTitulo forwards;
  }

  @keyframes animaTitulo { /* linkado a propriedade animation acima */
    100%{
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
  }

  /* Tamanho do titulo altera para 4x o tamanho da fonte do título
  .site-title {
      font-size: 4em;
  }
*/  
  .site-subtitle {
    font-family: 'Bangers', cursive;
    font-style: italic;
  }

  .resume, .contact,
  .about {
    padding: 1em;
    min-height: 100vh;
  }

  .resume, .contact,
  .about h2 {
    color: whitesmoke;
    font-family: 'Bangers', cursive;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .resume, .contact,
  .about .grid {
    display: grid;
    gap: 2em;
   
  }

  @media (min-width: 600px) {
    .about .grid, .resume .grid, .contact .grid{
      grid-template-columns: 240px 240px;
    }
  }

  @media (min-width: 880px) {
    .about .grid, .resume .grid, .contact .grid{
      grid-template-columns: repeat(3, 240px);
      align-content: center;
      justify-content: center;
    }
  }

  .about figure {
    text-align: center;
  }

  .img-about {
    border-radius: 10%;
    height: 150px;  
    width: 240px;
    object-fit: cover;
    object-position: left;
    transition: transform 500ms;
  }

  .img-about:hover {
    transform: scale(1.2) rotate(360deg);
  }

  .contact .icons {
    text-align: center;
  }

  .contact a {
    color: whitesmoke;
    font-size: 4em;
    transition: text-shadow 25ms;
  }

  .contact a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
  }
  
 
  /*@media (min-width: 1000px) {
    .img-about {
      height: auto;  
      width: 100%;
    }
  }*/